html, body {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #009688;
}

.row h1{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  margin: 60px;
  /*margin-right: 9%;*/
}

.col-xs-2 .right{
  margin-top: 45vh;
  position: fixed;
}

.right ul{
  list-style-type:none;
}

.right a{
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color: #6ebdb7;
  font-size: 0.8vw;
  font-weight: bolder;
}

.right a:hover{
  font-family: 'Lato', sans-serif;
  color: #FFF;
  text-decoration: none;
}

.col-xs-4 .middle{
  height: 94vh;
}

.col-xs-4 .middle img{
  margin-top: 25vh;
  margin-left: 5vw;
  padding-left: 0;
  border-radius: 50%;
  border-style: solid;
  /*border-width: 0.1vh;*/
  height: 50vh;
}

.col-xs-6 .left{
  margin-top: 20px;
  height: 94vh;
  border-style: solid;
  border-width: 0 0.3vh 0 0;
  border-color: #6ebdb7;;
}

.col-xs-6 .left .slider{
margin-left: 150px;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 35px;
line-height: 40px;
font-family: 'Lato', sans-serif;
color: #ecf0f1;
height: 160px;
overflow:hidden;
}

.col-xs-6 .left .slider .visible {
  font-weight:600;
  overflow:hidden;
  height:40px;
  padding:0 40px;
}



.col-xs-6 .left .slider .visible p {
  display:inline;
  float:left;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
}

.col-xs-6 .left .slider .visible ul {
  margin-top:0;
  padding-left:110px;
  text-align:left;
  list-style:none;
  animation-name: change;
  animation-duration: 12s;
  animation-iteration-count: 1;
}

.col-xs-6 .left .slider .visible ul li {
  line-height:40px;
  margin:10;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}



@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

.col-xs-6 .left h2{
  font-family: 'Lato', sans-serif;
  padding-top: 36.5vh;
  margin-right: 7vw;
  text-align: right;
  font-size: 2vw;
  font-weight: bold;
  color: #FFF;
}

.col-xs-6 .left h3{
  font-family: 'Raleway', sans-serif;
  margin-right: 7vw;
  text-align: right;
  font-size: 1.5vw;
  color: #EEE;
  font-weight: 100;
}
